* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font: 500 14px/1em 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
}

button {
  border: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, a, strong, p {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

.section-caption {
  font-size: 26px;
  line-height: 1.230769em;
  font-weight: 700;
}